В этой тетрадке приведены примеры выполнения различных запросов к БД. Сами запросы можно посмотреть в файле _commands.py_, откуда они импортируются.

Начнем как раз с импорта всего необходимого: нам нужны модуль _mysql.connector_ для взаимодействия с базой данных, пароль пользователя (чтобы не а) хардкодить б) светить им), и сам список команд.

In [1]:
import mysql.connector
from conf import user_pswd
from commands import *

Создадим подключение и курсор для работы.

In [2]:
cnx = mysql.connector.connect(user='user', password = user_pswd, database='final_project')
cursor = cnx.cursor()

# Простые селекты

1. Получение данных о студенте
    * по id
    * по имени студента

In [3]:
stud_id = 13
stud_name = 'Петухова Маруся Мефодьевна'

In [4]:
cursor.execute(student_by_id, (stud_id,))

for (name, group_num, year) in cursor:
    print("{}, группа {}, {}-й курс.".format(
        name, group_num, year))

Маликова Даша Оскаровна, группа 11, 1-й курс.

In [5]:
cursor.execute(student_by_name, (stud_name,))

for (group_num, year) in cursor:
    print("{}, группа {}, {}-й курс.".format(
        stud_name, group_num, year))

Петухова Маруся Мефодьевна, группа 31, 3-й курс.

2. Получения списка
    * группы
    * курса

In [6]:
group_num = 42

cursor.execute(group_list, (group_num,))

group = []
for name in cursor:
    group.append(name[0])
print('Студентов в группе: {}'.format(len(group)))

Студентов в группе: 54

In [7]:
year = 3

cursor.execute(year_list, (year,))

all_year = []
for name in cursor:
    all_year.append(name[0])
print('Студентов на курсе: {}'.format(len(all_year)))

Студентов на курсе: 153

3. Простые селекты из нескольких таблиц
    * по имени преподавателя найти, какие он ведет предметы (2 таблицы)
    * вывести все общепотоковые предметы для какого-нибудь курса (2 таблицы)
    * вывести список студентов, посещающих какой-нибудь курс по выбору (3 таблицы)

In [8]:
prof_name = 'Павлюк Газинур Саддамович'

cursor.execute(professors_courses, (prof_name,))

for name in cursor:
    print(name[0])

Теоретические Теории Грамматики
Лексические Подходы Лингвистики

In [9]:
# мы уже получали список студентов третьего курса, так что общепотоковые предметы будем смотреть тоже для него

cursor.execute(year_courses, (year,))

for name in cursor:
    print(name[0])

Аналитические Истоки Семантики
Аналитические Теории Синтаксиса
Функциональные Приложения Синтаксиса
Теоретические Приложения Лингвистики
Динамические Приложения Лингвистики
Динамические Направления Грамматики
Лексические Подходы Синтаксиса

In [10]:
choice_course = 'Аналитические Подходы Вычислений'

cursor.execute(choice_list, (choice_course,))

for (name, group_num, year) in cursor:
    print("{}, группа {}, {}-й курс.".format(
        name, group_num, year))

Левина Милена Протасовна, группа 32, 3-й курс.
Петров Павел Алоизович, группа 23, 2-й курс.
Сулейманов Ильгам Назарович, группа 42, 4-й курс.
Исаков Адлан Павлинович, группа 12, 1-й курс.
Кудрявцева Наиля Гаврииловна, группа 12, 1-й курс.
Новикова Изабелла Адриановна, группа 23, 2-й курс.
Лебедев Федор Богданович, группа 41, 4-й курс.
Кузнецов Кирилл Альвианович, группа 42, 4-й курс.
Лукьянова Аниля Кадыровна, группа 11, 1-й курс.
Шульга Костя Львовна, группа 31, 3-й курс.

# Вложенный селект

По имени студента вывести все курсы, на которые он записан

In [11]:
cursor.execute(students_courses, (stud_name,)*3)

for (name, course_id) in cursor:
    print("Курс: {}\t\t Код курса: {}".format(name, course_id))

Курс: Аналитические Истоки Семантики		 Код курса: 5
Курс: Аналитические Теории Синтаксиса		 Код курса: 17
Курс: Функциональные Приложения Синтаксиса		 Код курса: 21
Курс: Теоретические Приложения Лингвистики		 Код курса: 29
Курс: Динамические Приложения Лингвистики		 Код курса: 43
Курс: Динамические Направления Грамматики		 Код курса: 44
Курс: Лексические Подходы Синтаксиса		 Код курса: 45

# Удаление

"Уволим" преподавателей, которые ничего не ведут.

In [12]:
# для начала посмотрим, какие у нас есть преподаватели
def show_prof():
    show = "SELECT name FROM professors"
    cursor.execute(show)

    i = 0
    for name in cursor:
        print(name[0])
        i+=1
    return print('Всего преподавателей: ', i)

show_prof()

Карташова Марина Садиковна
Черникова Виктория Салаватовна
Федосеева Ксения Самуиловна
Трифонова Яна Севастьяновна
Булатова Алла Севериновна
Митрофанова Маргарита Семёновна
Корнилова Кира Серапионовна
Кадырова Дина Сергеевна
Рубцова Варвара Сильвестровна
Горшкова Ася Симоновна
Усманова Зарина Созоновна
Гуляева Раиса Созонтовна
Мусина Лана Спиридоновна
Зубкова Вероника Станиславна
Минаева Изабелла Станиславовна
Кучеренко Заурбек Робертович
Леонтьев Азрет Родионович
Лукьянов Батырбек Романович
Любимов Ленур Ростиславич
Гаврилюк Борислав Ростиславович
Черненко Аревик Русланович
Шмидт Размик Рушанович
Мельничук Теймур Саввич
Свиридов Мгер Савельевич
Павлюк Газинур Саддамович
Ульянов Григор Садикович
Головин Виль Салаватович
Терентьев Камо Самуилович
Бабич Рустэм Севастьянович
Чернышов Гавриил Северинович
Всего преподавателей:  30

In [13]:
delete_prof = ("DELETE FROM professors WHERE prof_id NOT IN"
               "(SELECT prof_id FROM courses)")
cursor.execute(delete_prof)
show_prof()

Карташова Марина Садиковна
Черникова Виктория Салаватовна
Федосеева Ксения Самуиловна
Трифонова Яна Севастьяновна
Булатова Алла Севериновна
Митрофанова Маргарита Семёновна
Кадырова Дина Сергеевна
Рубцова Варвара Сильвестровна
Горшкова Ася Симоновна
Усманова Зарина Созоновна
Гуляева Раиса Созонтовна
Мусина Лана Спиридоновна
Зубкова Вероника Станиславна
Леонтьев Азрет Родионович
Лукьянов Батырбек Романович
Любимов Ленур Ростиславич
Черненко Аревик Русланович
Шмидт Размик Рушанович
Мельничук Теймур Саввич
Свиридов Мгер Савельевич
Павлюк Газинур Саддамович
Ульянов Григор Садикович
Головин Виль Салаватович
Терентьев Камо Самуилович
Бабич Рустэм Севастьянович
Всего преподавателей:  25

In [14]:
# так как это демонстрационная тетрадка, я не коммичу изменения в ДБ, а просто закрываю соединение
cursor.close()
cnx.close()